<section class="about">
  <div class="container">
    <div>
      <h2 class="about_title">
        About <span class="about_title-accent">me</span>
      </h2>
      <picture>
        <source
          srcset="
            ./img/about/tablet/tablet.about-img.webp    1x,
            ./img/about/tablet/tablet.about-img@2x.webp 2x,
            ./img/about/tablet/tablet.about-img@3x.webp 3x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />

        <source
          srcset="
            ./img/about/tablet/tablet.about-img.png    1x,
            ./img/about/tablet/tablet.about-img@2x.png 2x,
            ./img/about/tablet/tablet.about-img@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <source
          srcset="
            ./img/about/mobile/mobile.about-img.webp    1x,
            ./img/about/mobile/mobile.about-img@2x.webp 2x,
            ./img/about/mobile/mobile.about-img@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/about/mobile/mobile.about-img.png    1x,
            ./img/about/mobile/mobile.about-img@2x.png 2x,
            ./img/about/mobile/mobile.about-img@3x.png 3x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img
          class="about_img"
          src="./img/about/mobile/mobile.about-img.png"
          alt=""
        />
      </picture>
    </div>
    <div class="about_right">
      <h3 class="about_second-title">BIO</h3>
      <p class="about_main-info">
        I'm Lloyd Jefferson, a talented programmer specializing in software
        development. My expertise spans various programming languages and
        technologies, and I am dedicated to continually enhancing my skills. I
        thrive on seeking unconventional and creative solutions to problems,
        leveraging a high level of analytical skills to effectively tackle even
        the most challenging tasks.
      </p>
      <p class="about_additional_info">
        Adaptable to both independent and team-oriented work, I collaborate
        seamlessly with colleagues, exchanging ideas and finding optimal
        solutions. My professional maturity enables me to navigate challenges
        and stressful situations with a calm demeanor, maintaining a
        consistently high quality of work. Committed to self-improvement, I
        actively engage in studying new technologies and practices to stay
        current with the latest innovations in the field.
      </p>
    </div>
  </div>
</section>
