<section class="animation">
  <div>
    <ul class="animation_list">
      <li class="animation_item first">
        <p class="animation_text">
          <span>HTML/CSS</span>
          <span>JavaScript</span>
          <span>React</span>
          <span>Node. js</span>
          <span>React Native</span>
          <span>Typescript</span>
          <span>HTML/CSS</span>
          <span>JavaScript</span>
          <span>React</span>
          <span>Node. js</span>
          <span>React Native</span>
          <span>Typescript</span>
        </p>
      </li>
      <li class="animation_item second">
        <p class="animation_text">
          <span>HTML/CSS</span>
          <span>JavaScript</span>
          <span>React</span>
          <span>Node. js</span>
          <span>React Native</span>
          <span>Typescript</span>
          <span>HTML/CSS</span>
          <span>JavaScript</span>
          <span>React</span>
          <span>Node. js</span>
          <span>React Native</span>
          <span>Typescript</span>
        </p>
      </li>
    </ul>
  </div>
</section>
