<section class="benefits">
  <div class="container">
    <h2 class="benefits_title">
      Benefits of <br />working with <br />
      me
    </h2>
    <ul class="benefits_list">
      <li class="benefits_item">
        <h3 class="benefits_subtitle">Expertise</h3>
        <p class="benefits_text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits_item">
        <h3 class="benefits_subtitle">Communication</h3>
        <p class="benefits_text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits_item">
        <h3 class="benefits_subtitle">Communication</h3>
        <p class="benefits_text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits_item">
        <h3 class="benefits_subtitle">Communication</h3>
        <p class="benefits_text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
    </ul>
  </div>
</section>
