<section class="frequently">
  <div class="container">
    <h2 class="frequently_title">
      frequently <br />
      asked <br />
      <span class="frequently_accent"> question</span>
    </h2>
    <ul class="frequently_list">
      <li class="frequently_item">
        <button class="frequently_btn">
          What programming languages ​​are most often used in your project?
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          What are the deadlines for the project?
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          What payment methods do you accept?
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">How can I contact you?</button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          Do you provide advice or support?
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          What does the process of developing a software product look like from
          idea to implementation?
        </button>
        <p class="frequently_text"></p>
      </li>
    </ul>
  </div>
</section>
