<section class="frequently">
  <div class="container">
    <h2 class="frequently_title">
      frequently <br />
      asked <br />
      <span class="frequently_accent"> question</span>
    </h2>
    <ul class="frequently_list">
      <li class="frequently_item">
        <button class="frequently_btn">
          <span class="frendly_btn-text">
            What programming languages ​​are most often used in your project?
          </span>
          <svg class="frequently_svg">
            <use href="./img/sprite3.svg#icon-icon-dropdown"></use>
          </svg>
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          <span class="frendly_btn-text">
            What are the deadlines for the project?
          </span>
          <svg class="frequently_svg">
            <use href="./img/sprite3.svg#icon-icon-dropdown"></use>
          </svg>
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          <span class="frendly_btn-text">
            What payment methods do you accept?
          </span>
          <svg class="frequently_svg">
            <use href="./img/sprite3.svg#icon-icon-dropdown"></use>
          </svg>
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          <span class="frendly_btn-text"> How can I contact you? </span>
          <svg class="frequently_svg">
            <use href="./img/sprite3.svg#icon-icon-dropdown"></use>
          </svg>
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          <span class="frendly_btn-text">
            Do you provide advice or support?
          </span>
          <svg class="frequently_svg">
            <use href="./img/sprite3.svg#icon-icon-dropdown"></use>
          </svg>
        </button>
        <p class="frequently_text"></p>
      </li>
      <li class="frequently_item">
        <button class="frequently_btn">
          <span class="frendly_btn-text">
            What does the process of developing a software product look like
            from idea to implementation?
          </span>
          <svg class="frequently_svg">
            <use href="./img/sprite3.svg#icon-icon-dropdown"></use>
          </svg>
        </button>
        <p class="frequently_text"></p>
      </li>
    </ul>
  </div>
</section>
