<section class="hero">
  <div class="container">
    <h1 class="hero_title">
      Hello,I am <span class="hero_title-accent">Fullstack developer</span>
    </h1>

    <div class="hero_wrapper">
      <svg class="hero_svg" width="28">
        <use href="./img/sprite.svg#icon-Arrow"></use>
      </svg>

      <a class="order_btn" href="">Order the project</a>
      <div class="hero_box"></div>
    </div>

    <p class="hero_text">
      I work with people all over the world to create
      <span class="hero_text-accent"> impressive </span>and
      <span class="hero_text-accent">functional websites</span>
      that reflect each client’s unique personality.
    </p>
  </div>
</section>
