<section class="hero">
  <div class="container">
    <h1 class="hero_title">
      Hello,I am
      <picture>
        <source
          srcset="
            ./img/hero.desktop-photo/desktop/desktop.photo-programer.webp    1x,
            ./img/hero.desktop-photo/desktop/desktop.photo-programer@2x.webp 2x,
            ./img/hero.desktop-photo/desktop/desktop.photo-programer@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />

        <source
          srcset="
            ./img/hero.desktop-photo/desktop/desktop.photo-programer.png    1x,
            ./img/hero.desktop-photo/desktop/desktop.photo-programer@2x.png 2x,
            ./img/hero.desktop-photo/desktop/desktop.photo-programer@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <img
          class="hero_developer-img"
          src="./img/hero.desktop-photo/desktop/desktop.photo-programer.png "
          alt=""
        />
      </picture>
      <span class="hero_title-accent">Fullstack developer</span>
    </h1>
    <div class="hero_wrapper">
      <a class="hero_link" href="">
        <svg class="hero_svg" width="28" height="20">
          <use href="./img/sprite.svg#icon-Arrow"></use>
        </svg>

        <span class="order_btn" href="">Order the project</span>
        <div class="hero_box"></div>
      </a>
      <p class="hero_text">
        I work with people all over the world to create
        <span class="hero_text-accent"> impressive </span>and
        <span class="hero_text-accent">functional websites</span>
        that reflect each client’s unique personality.
      </p>
    </div>
  </div>
</section>
