<section class="projects">
  <div class="container">
    <h2 class="projects_title">
      my <span class="projects_title-accent">projects</span>
    </h2>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./img/projects/tablet/first-photo/tablet.first-photo.webp    1x,
              ./img/projects/tablet/first-photo/tablet.first-photo@2x.webp 2x,
              ./img/projects/tablet/first-photo/tablet.first-photo@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/projects/tablet/first-photo/tablet.first-photo.png    1x,
              ./img/projects/tablet/first-photo/tablet.first-photo@2x.png 2x,
              ./img/projects/tablet/first-photo/tablet.first-photo@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/projects/mobile/first-photo/mobile.project-first-photo.webp    1x,
              ./img/projects/mobile/first-photo/mobile.project-first-photo@2x.webp 2x,
              ./img/projects/mobile/first-photo/mobile.project-first-photo@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/projects/mobile/first-photo/mobile.project-first-photo.png    1x,
              ./img/projects/mobile/first-photo/mobile.project-first-photo@2x.png 2x,
              ./img/projects/mobile/first-photo/mobile.project-first-photo@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            src="./img/projects/mobile/first-photo/mobile.project-first-photo.png"
            alt=""
            width="320px"
            height="184px"
            class="project_img"
          />
        </picture>
        <p class="project_text">React, JavaScript, Node JS, Git</p>
        <h3 class="project_subtitle">Wallet webservice</h3>
        <button class="project_btn" type="button">
          Visit
          <svg class="project_svg" width="15" height="15">
            <use href="./img/sprite1.svg#icon-Vector-24"></use>
          </svg>
        </button>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/projects/tablet/second-photo/tablet.second-photo.png    1x,
              ./img/projects/tablet/second-photo/tablet.second-photo@2x.png 2x,
              ./img/projects/tablet/second-photo/tablet.second-photo@3x.png 3x
            "
            media="(min-width:)"
          />

          <source
            srcset="
              ./img/projects/mobile/second-photo/mobile.second-photo.webp    1x,
              ./img/projects/mobile/second-photo/mobile.second-photo@2x.webp 2x,
              ./img/projects/mobile/second-photo/mobile.second-photo@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/projects/mobile/second-photo/mobile.second-photo.png    1x,
              ./img/projects/mobile/second-photo/mobile.second-photo@2x.png 2x,
              ./img/projects/mobile/second-photo/mobile.second-photo@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            src="./img/projects/mobile/second-photo/mobile.second-photo.png"
            alt=""
            width="320px"
            height="184px"
            class="project_img"
          />
        </picture>
        <p class="project_text">React, JavaScript, Node JS, Git</p>
        <h3 class="project_subtitle">Green harvest webservice</h3>
        <button class="project_btn" type="button">
          Visit
          <svg class="project_svg" width="15" height="15">
            <use href="./img/sprite1.svg#icon-Vector-24"></use>
          </svg>
        </button>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/projects/mobile/third-photo/mobile.third-photo.webp    1x,
              ./img/projects/mobile/third-photo/mobile.third-photo@2x.webp 2x,
              ./img/projects/mobile/third-photo/mobile.third-photo@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/projects/mobile/third-photo/mobile.third-photo.png    1x,
              ./img/projects/mobile/third-photo/mobile.third-photo@2x.png 2x,
              ./img/projects/mobile/third-photo/mobile.third-photo@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            src="./img/projects/mobile/third-photo/mobile.third-photo.png"
            alt=""
            width="320px"
            height="184px"
            class="project_img"
          />
        </picture>
        <p class="project_text">React, JavaScript, Node JS, Git</p>
        <h3 class="project_subtitle">English Exellence website</h3>
        <button class="project_btn" type="button">
          Visit
          <svg class="project_svg" width="15" height="15">
            <use href="./img/sprite1.svg#icon-Vector-24"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
