<section class="reviews">
  <div class="container">
    <h2 class="reviews_title">Reviews</h2>
    <ul class="reviews_list">
      <li class="reviews_item">
        <p class="reviews_text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
        <div class="reviews_wrapper">
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./img/reviews/mobile/mobile.reviews-natalia.webp    1x,
                  ./img/reviews/mobile/mobile.reviews-natalia@2x.webp 2x,
                  ./img/reviews/mobile/mobile.reviews-natalia@3x.webp 3x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./img/reviews/mobile/mobile.reviews-natalia.png    1x,
                  ./img/reviews/mobile/mobile.reviews-natalia@2x.png 2x,
                  ./img/reviews/mobile/mobile.reviews-natalia@3x.png 3x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <img
                src="./img/reviews/mobile/mobile.reviews-natalia.png"
                alt=""
              />
            </picture>
          </div>

          <h3 class="reviews_subtitle">Natalia Shevchenko</h3>
        </div>
      </li>
      <li class="reviews_item">
        <p class="reviews_text">
          I have the honor to recommend him as an exceptional professional in
          his field. His knowledge and expertise are undeniable. Cooperation
          with him always brings impressive results.
        </p>
        <div>
          <h3 class="reviews_subtitle">Dmytro Nazarenko</h3>
          <img src="" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
