<section class="work">
  <div class="container">
    <h2 class="work_title">
      let’s <span class="work_title-accent">work together</span>
    </h2>
    <p class="work_text">
      Contact me to transform your ideas into exceptional solutions.
    </p>
    <ul class="work_list">
      <li class="work_item">
        <svg class="work_svg">
          <use></use>
        </svg>
        <a class="work_link" href="">+38 090 456 78 90</a>
      </li>
      <li class="work_item">
        <svg class="work_svg">
          <use></use>
        </svg>
        <a class="work_link" href="">lloydjefferson@gmail.com</a>
      </li>
      <li class="work_item">
        <svg class="work_svg">
          <use></use>
        </svg>
        <a class="work_link" href="">USA, New York</a>
      </li>
    </ul>
    <div>
      <input type="text" />
      <input type="text" />
    </div>
    <button class="work_btn">SEND MESSAGE</button>
  </div>
</section>
