<section class="work">
  <div class="container">
    <h2 class="work_title">
      let’s <span class="work_title-accent">work together</span>
    </h2>
    <div class="work_box">
      <div class="work_wrapper">
        <p class="work_text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <ul class="work_list">
          <li class="work_item">
            <a class="work_link" href="">
              <svg class="work_svg" width="24px" height="24px">
                <use href="/img/sprite4.svg#icon-mail-envelope-closed"></use>
              </svg>
              +38 090 456 78 90
            </a>
          </li>
          <li class="work_item">
            <a class="work_link" href="">
              <svg class="work_svg" width="24px" height="24px">
                <use href="/img/sprite4.svg#icon-phone"></use>
              </svg>
              lloydjefferson@gmail.com
            </a>
          </li>
          <li class="work_item">
            <a class="work_link" href="">
              <svg class="work_svg" width="24px" height="24px">
                <use href="/img/sprite4.svg#icon-location2"></use>
              </svg>

              USA, New York
            </a>
          </li>
        </ul>
      </div>
      <form action="" class="work_form">
        <input type="text" class="work_input-email" placeholder="Your email*" />
        <textarea
          name=""
          id=""
          placeholder="Message"
          class="work_input-message"
        ></textarea>
        <button class="work_btn" type="submit">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>
