.benefits_title {
  font-size: 108px;
  line-height: 1.14;
  letter-spacing: 1.8px;
  width: 692px;
  font-family: var(--second-family);
  text-transform: uppercase;
}

.benefits_list {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  align-items: flex-end;
  height: 400px;
  justify-content: flex-start;
}

.benefits_item {
  width: 384px;
  flex: 1;
}

.benefits_item:last-child {
  align-self: flex-start;
  order: -1;
}
