.hero_title {
  width: 320px;
  font-size: 64px;
  line-height: 0.8;
  margin-bottom: 40px;
}

.hero_title-accent {
  color: rgba(0, 176, 104, 1);
}

.hero_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.hero_box {
  width: 165px;
  height: 92px;
  background-color: rgba(188, 223, 209, 1);
  border-radius: 16px;
}

.order_btn {
  position: absolute;
  left: 32px;
  font-size: 18px;
  line-height: 1.55;
  color: rgba(41, 41, 41, 1);
}

.hero_svg {
  position: absolute;
  left: -4px;
}

.hero_text {
  font-size: 18px;
  line-height: 1.55;
  color: rgba(41, 41, 41, 1);
}

.hero_text-accent {
  color: rgba(0, 176, 104, 1);
}
