.projects {
  padding: 40px 0;
}

.projects_title {
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 1.8px;
  font-family: var(--second-family);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.projects_title-accent {
  color: var(--accent-green);
}

.project_img {
  margin-bottom: 12px;
}

.project_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: var(--font-family);
  font-weight: 300;
  color: #292929;
  margin-bottom: 16px;
}

.project_subtitle {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  font-family: var(--font-family);
  font-weight: 500;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.project_btn {
  display: block;
  margin-left: auto;
  background-color: var(--light-grey);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: var(--font-family);
  text-transform: uppercase;
  padding: 12px 60px 12px 24px;
  position: relative;
  margin-bottom: 40px;
}

.project_svg {
  position: absolute;
  right: 24px;
  top: 17px;
}

.load_btn {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}

.load_btn::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: var(--accent-green);
  width: 100%;
  left: 0;
  bottom: -2px;
}

@media only screen and (min-width: 768px) {
  .projects_title {
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 1.8px;
    margin-bottom: 60px;
    font-family: var(--second-family);
    font-weight: 600;
  }

  .project_item {
    margin-bottom: 60px;
  }

  .project_wrapper {
    display: flex;
    align-items: center;
  }

  .project_subtitle {
    margin-bottom: 0;
  }

  .project_btn {
    margin-bottom: 0;
  }

  .load_btn {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media only screen and (min-width: 1280px) {
  .projects .container {
    width: 1072px;
  }
}
